{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <div class="container">

         </div>
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><a href="/"> <img src="{% static 'ad/images/logo.png' %}"></a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  <div id="mySidenav" class="sidenav">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <a href="/">Home</a>
                      {% for d in ct %}
                     <a href="{{d.get_url}}">{{d.name}}</a>
                     {% endfor %}

                  </div>
                  <span class="toggle_icon" onclick="openNav()"><img src="{% static 'ad/images/toggle-icon.png' %}"></span>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/">Home</a>
                        {% for c in ct %}
                        <a class="dropdown-item" href="{{c.get_url}}">{{c.name}}</a>
                        {% endfor %}


                     </div>
                  </div>
                  <div class="main">
                     <!-- Another variation with a button -->
                      <form action="{% url 'search' %}" method="get">
                     <div class="input-group">

                           <input type="text" class="form-control" name="q" placeholder="Search this blog">
                             <div class="input-group-append">
                           <button class="btn btn-secondary" type="submit" style="background-color: #f26522; border-color:#f26522 ">
                           <i class="fa fa-search"></i>
                           </button>
                        </div>
                        </form>



                     </div>

                  </div>
                  <div class="header_box">
                     <div class="lang_box ">
                        <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="{% static 'ad/images/flag-uk.png' %}" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu ">
                           <a href="#" class="dropdown-item">
                           <img src="{% static 'ad/images/flag-france.png' %}" class="mr-2" alt="flag">
                           French
                           </a>
                        </div>
                     </div>
                     <div class="login_menu">
                        <ul>
                           {% if itc > 0 %}
                           <li><a href="{% url 'cartDetails' %}">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                               <span class="padding_10"><sup class="text-danger">{{itc}}</sup></span></a>
                           </li>
                           {% else %}
                            <li>
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10"></span></a>
                           </li>

                           {% endif %}
                           {% if user.is_authenticated %}
                           <b >Hello,{{ user.username }}!</b>
                           <a href="{% url 'logout' %}">Log out</a>

                            {% else %}
                           <li><a href="accounts/login">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Login</span></a>
                           </li>
                           {% endif %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                              <div class="buynow_bt"><a href="#">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                              <div class="buynow_bt"><a href="#">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                              <div class="buynow_bt"><a href="#">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Man & Woman Fashion</h1>

                     <div class="fashion_section_2">
                        <div class="row">
                            {% for i in pg.object_list %}

                           <div class="col-lg-4 col-sm-4">

                              <div class="box_main">
                                 <h4 class="shirt_text">{{i.name}}</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ {{i.price}}</span></p>
                                 <div class="tshirt_img" >
                                     <a href={{i.get_url}}> <img src={{i.img.url}} style="height:200px;width:150px;"></a></div>
                                  <p>{{i.category}}</p>
                                  <p>{{i.desc|truncatechars:40}}</p>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>

                           </div>

                             {% endfor %}



                        </div>

      <script src="{% static 'ad/js/jquery.min.js' %}"></script>
      <script src="{% static 'ad/js/popper.min.js' %}"></script>
      <script src="{% static 'ad/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'ad/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'ad/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'ad/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'ad/js/custom.js' %}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
                        <div>
                         <p class="text-center">
                            {% for p in pg.paginator.page_range %}
                            <a href="?page={{p}}" class="btn btn-secondary text-warning "  style="width:60px;"> {{p}}</a>
                            {% endfor %}
                         </p></div>
{% endblock %}


   </body>
</html>